*{
    overflow: hidden;
    font-family: poppins;
    font-size: 15px;
    font-weight: bold;
}
body{
    
    background-color: rgb(243, 247, 253);
    color: rgb(255, 255, 255);
    
    
}

img{
    width: 40rem;
    border-radius: 56px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
    border-radius: 25px;
     background-color: #163558;
    padding: 20px;
    
}
input{
    display: block;
    border-radius: 15px;
}
button{
    width: 13em;
    border-radius: 56px;
    height: 4em;
    text-align: center;
    margin-top: 10px;
}
input, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }